<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>cipheR</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center; margin-top: 10px; color: deepskyblue;" class="alert alert-info">
                    {% block heading %}
                    {# Cipher's name #}
                    {% endblock %}
                </h1>
                <p>
                    {% block body %}

                    {% endblock %}
                </p>
            </div>
        </div>
    </div>
</body>